header {
  background-color: cadetblue;
  text-align: center;
  height: 50px;
  padding-top: 20px;
  font-size: 21px;
  width: 500px;
}
.Player1 {
  display: inline-block;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  background-color: antiquewhite;
}

.Player1 h2 {
  text-align: center;
}
footer {
  background-color: crimson;
  text-align: center;
  height: 100px;
  width: 500px;
}
