body {
  background-color: bisque;
}
header {
  background-color: blue;
  height: 133px;
  width: 100%;
}
header h1 {
  text-align: center;
  position: relative;
  bottom: 106px;
}
img {
  width: 98px;
  padding: 20px;
}
.heading {
  margin-top: 20px;
  background-color: blue;
  border: 2px solid black;
  color: white;
  width: 55%;
}
#Experience {
  background-color: blue;
  border: 2px solid black;
  color: white;
}
#Experience {
  background-color: blue;
  border: 2px solid black;
  color: white;
}
